.shop-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}

.s-item-container {
  width: 30%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.s-item-container img {
  height: 50%;
  width: 100%;
  background-color: var(--dark-white);
  object-fit: cover;
  image-rendering: crisp-edges;
}

.sc-txt {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.sc-txt-info,
.sc-txt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.color {
  border-radius: 25px;
  width: 20px;
  height: 20px;
}

.sc-txt-price button {
  border: none;
  padding: 10px 45px;
  border-radius: 25px;
  transition: all 0.3s ease;
  background-color: var(--black);
  color: var(--white);
}
.sc-txt-price .sc-btn-off {
  filter: opacity(0.25);
  cursor: default;
}
.sc-txt-price button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}

@media (max-width: 1025px) {
  .s-item-container {
    width: 40%;
  }
}

@media (max-width: 998px) {
  .s-item-container {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .shop-container {
    gap: 0px;
    margin: 40px 0;
  }

  .s-item-container {
    width: 75%;
    height: 95vh;
    margin: 4rem 0;
  }

  .s-item-container img {
    height: 70%;
  }

  .sc-txt-price button {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .sc-txt-price {
    flex-direction: column;
  }

  .sc-txt-price button {
    width: 100%;
    padding: 10px 90px;
  }
}
