.nav-sale {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-sale a {
  border-radius: 25px;
  border: 2px solid var(--black) !important;
  color: var(--black);
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  background-color: var(--white) !important;
}
.nav-sale a:hover {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item-container {
  width: 100%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-container img {
  width: 100%;
  height: auto;
}

.ic-txt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.price-container {
  flex-direction: column;
  display: flex;
}

.old-price {
  text-decoration: line-through;
}
.new-price {
  color: var(--dark-red) !important;
}

.ic-txt-price button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
  background-color: var(--black);
  color: var(--white);
}
.ic-txt-price button:hover,
.nav-sale a:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}

@media (max-width: 1025px) {
  .item-container {
    margin: 8px;
    padding: 0px;
  }

  .ic-txt-price button {
    padding: 10px;
  }
}

@media (max-width: 998px) {
  .items-container {
    flex-direction: column;
  }

  .item-container {
    width: 75%;
    height: auto;
    margin: 0px;
    padding: 25px;
  }

  .ic-txt-price button {
    padding: 10px 15px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .ic-txt-price {
    margin-top: 25px;
    flex-direction: column;
    align-items: start;
  }

  .ic-txt-price button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .item-container {
    width: 90%;
  }
}
