.show-item-container {
  position: fixed;
  width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
  color: var(--white);
}

.sic-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 10px !important;
}

.sic-img,
.sic-txt {
  height: 100%;
  width: 50%;
}

.sic-img {
  background-color: var(--dark-white);
}

.sic-txt {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.sic-txt::-webkit-scrollbar {
  width: 4px;
}
.sic-txt::-webkit-scrollbar-track {
  background: var(--black);
}
.sic-txt::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 5px;
}

.sic-txt-general {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sic-txt-sizes {
  text-align: center;
}

.sic-txt-sizes-txt {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sic-txt-sizes-txt a {
  text-decoration: none;
}

.sic-txt-s-container ul {
  float: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sic-txt-s-container ul li {
  color: var(--white);
  min-width: 12.5%;
  min-height: 48px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.sic-txt-s-container ul li:hover {
  background-color: var(--white);
  color: var(--black);
}

.sic-txt-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sic-txt-add button {
  width: 50%;
  margin: 10px 0;
}
.sic-txt-add button:nth-child(1) {
  background-color: var(--white);
  color: var(--black);
}
.sic-txt-add button:nth-child(1):hover {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
}

.sic-txt-add button:nth-child(2) {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
}
.sic-txt-add button:nth-child(2):hover {
  background-color: var(--white);
  color: var(--black);
}

.sic-txt-description {
  width: 90%;
}

.sic-txt-description .accordion-item {
  border: none !important;
}

.sic-txt-description .accordion-button {
  background-color: var(--black) !important;
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
}
.sic-txt-description .accordion-button:hover,
.sic-txt-description .accordion-button:not(.collapsed) {
  background-color: var(--black) !important;
  border: 2px solid var(--white);
}
.sic-txt-description .accordion-button:not(.collapsed) {
  border-bottom: none;
}

.sic-txt-description .accordion-button::after {
  filter: invert(1) brightness(10);
}

.sic-txt-description .accordion-body {
  background-color: var(--black) !important;
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 40px;
}

.sic-txt-description .accordion-body a {
  text-decoration: underline;
  color: var(--white);
}

.sic-txt-rating {
  display: flex;
  align-items: center;
}
.sic-txt-rating p {
  margin: 0 20px;
}

.sic-txt-rating .stars {
  display: flex;
  align-items: center;
}
.sic-txt-rating .stars svg {
  margin: 0 5px;
}
