.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.items-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item-container {
  width: 100%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-container img {
  width: 100%;
  height: auto;
}

.ic-txt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ic-txt-price button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: transform 0.3s ease;
  background-color: var(--black);
  color: var(--white);
}
.ic-txt-price button:hover {
  transform: scale(1.05);
}

@media (max-width: 1025px) {
  .item-container {
    margin: 8px;
    padding: 0px;
  }

  .ic-txt-price button {
    padding: 10px;
  }
}

@media (max-width: 998px) {
  .items-container {
    flex-direction: column;
  }

  .item-container {
    width: 75%;
    height: auto;
    margin: 0px;
    padding: 25px;
  }

  .ic-txt-price button {
    padding: 10px 15px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .ic-txt-price {
    margin-top: 25px;
    flex-direction: column;
    align-items: start;
  }

  .ic-txt-price button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .item-container {
    width: 90%;
  }
}
