.shop-page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.spc-filter {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: var(--white);
}

.spc-f-sort,
.spc-f-filter {
  width: 10%;
  transition: none !important;
}

.spc-f-sort .accordion-item,
.spc-f-sort .accordion-header,
.spc-f-sort .accordion-button,
.spc-f-sort .accordion-body {
  background: transparent !important;
  border: none !important;
  width: 100%;
}

.spc-f-sort .accordion-button {
  width: 100%;
}

.spc-f-sort .accordion-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: max-content;
  background-color: var(--white) !important;
}

.spc-f-filter button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.spc-f-filter button .h4 {
  margin: 0 !important;
}

.spc-f-filter button {
  background-color: transparent;
  border: none;
}

.spc-f-sidebar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20%;
  height: 100vh;
  transition: all 0.3s ease-in;
  transform: translate(-105%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
}
.spc-f-sidebar.on {
  transform: translateX(0%);
}

.spc-f-s-container {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--white);
  left: 0;
}

.spc-f-s-container .accordion-item,
.spc-f-s-container .accordion-header,
.spc-f-s-container .accordion-button,
.spc-f-s-container .accordion-body {
  background: transparent !important;
  border: none !important;
  width: 100%;
}

.spc-f-s-container .accordion-item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px;
}

.spc-f-s-container .accordion-body {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.spc-f-s-container button {
  background-color: transparent;
  border: none;
  margin: 5px 0;
}

.spc-f-s-container button span {
  margin-right: 10px;
}

.spc-items {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  transition: all 0.3s ease-in;
}

.spc-items.on {
  width: 80%;
}

@media (max-width: 1024px) {
  .spc-f-sort,
  .spc-f-filter {
    width: 15%;
  }

  .spc-f-sidebar {
    width: 40%;
    background-color: var(--white) !important;
    height: 100vh;
  }

  .spc-items.on {
    width: 100%;
  }
}

@media (max-width: 998px) {
  .spc-f-sort,
  .spc-f-filter {
    width: 20%;
  }

  .spc-f-sidebar {
    top: 0;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .spc-f-sort,
  .spc-f-filter {
    width: 20%;
  }

  .spc-filter {
    min-height: 10%;
    background-color: var(--white);
    padding: 0 20px;
  }

  .filter-button {
    z-index: 1000;
  }

  .spc-f-sidebar {
    width: 100%;
    z-index: -1;
    margin: 60px 0;
  }
}

@media (max-width: 425px) {
  .spc-f-sort,
  .spc-f-filter {
    width: 40%;
  }
}
