.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem !important;
  width: 100%;
}

img {
  height: 100px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
  float: right;
}
ul li a {
  text-decoration: none;
  color: var(--white) !important;
}

/* hamburger menu style */
.hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: none;
}
.hamburger-line {
  width: 50px;
  height: 8px;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--white);
}

@media (max-width: 998px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: static;
  }
  .navbar.show {
    height: 100vh;
  }

  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--black);
  }

  img {
    height: 90px;
  }

  .navbar ul {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 80%;
    font-size: 32px;
    text-transform: lowercase;
  }
  ul.hidden {
    display: none;
  }
  ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
